<?php
// Prevenção estrita contra cache
header("Cache-Control: no-store, no-cache, must-revalidate, max-age=0");
header("Cache-Control: post-check=0, pre-check=0", false);
header("Pragma: no-cache");

// Define que a resposta será um JSON
header("Content-Type: application/json; charset=UTF-8");

// Exemplo de Configurações do banco de dados
$host = 'localhost';
$dbname = 'futsal';
$user = 'futsal';
$pass = '123@Mudar';

try {
    $pdo = new PDO("mysql:host=$host;dbname=$dbname;charset=utf8mb4", $user, $pass, [
        PDO::ATTR_ERRMODE => PDO::ERRMODE_EXCEPTION,
        PDO::ATTR_DEFAULT_FETCH_MODE => PDO::FETCH_ASSOC
    ]);
} catch (PDOException $e) {
    http_response_code(500);
    echo json_encode(["erro_conexao" => $e->getMessage()]);
    exit;
}
